@import 'nib'

body
	background-color #30373d
	color #606669
	line-height 1.6666667
	font-family: 'PT Serif', Georgia, Times, "Times New Roman", serif;

a 
	color: #27ae60
	text-decoration: none
	transition: all 0.3s
	&:hover
		color: #1E874A

h1
	font-size 2em
	letter-spacing -1px

@import "includes/animate.styl"
	
@import "includes/header.styl"
@import "includes/logo.styl"
@import "includes/content.styl"
@import "includes/comments.styl"