doctype html
html
	head
		title Grishy

		meta(charset='utf-8')
		meta(meta name="viewport" content="width=device-width, initial-scale=1")

		link(href='/assets/style.css', rel='stylesheet')

	body
		main#content
			header#header
				.inner: h1 Test

			block content

	script(src='/assets/main.js')

	script(src='//localhost:35729/livereload.js')