doctype html
html
	head
		title Grishy

		meta(charset="utf-8")
		meta(meta name="viewport" content="width=device-width, initial-scale=1")

		link(href="/assets/style.css", rel="stylesheet")
		link(href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic", rel="stylesheet")

	body
	
		header#header
			button#buttonMenu: i.fa.fa-bars.fa-fw
			

			nav#menu: ul
				li: a(href="/")
					i.fa.fa-home.fa-sm1.fa-fw
					|   Главная
				li: a(href="/")
					i.fa.fa-home.fa-sm1.fa-fw
					|   О блоге
				li: a(href="/")
					i.fa.fa-home.fa-sm1.fa-fw
					|   Проекты
				li: a(href="/")
					i.fa.fa-home.fa-sm1.fa-fw
					|   Связаться


			#logo
				span Блог о прогаммировании
				a(href="/") Grishy.ru
				span — Web, Gamedev, Programming —

		main#content(role="main")
			block content
		
		footer#footer
			
	script(src="/assets/main.js")

	script(src="//localhost:35729/livereload.js")