#content
	padding 0.5em
	margin 0 auto
	max-width 960px
	margin-top 1em
	

.post
	background-color #fff
	margin-bottom 2em
	
.post img
	width 100%

.entryBox
	max-width 800px
	margin 0 auto
	padding-bottom 1em

.entryMeta
	text-align center
	color #aeb0b1
	font-size 14px
	font-family 'Open Sans', sans-serif
	line-height 1.5
	
.entryHeader a
	color #30373d
	text-align center
	&:hover
		color #27ae60
	
	h1
		margin .2em
		@media all and (max-width: 768px)
			font-size 1.6em
			
.entryReadMore
	text-align center
	
	a
		background-color #aeafb1
		border-radius 2px
		color #fff
		display inline-block
		font-size 1.2em
		font-weight bold
		line-height 1.5
		padding 8px 25px
		text-decoration none
		
		&:hover
			background #27ae60
			
.pagination
	color: #606669;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.5;
	max-width: 720px;
	margin: 0 auto 60px;
	position: relative;
	text-align: center;
	
	a
		color #f2f5f7

.older-posts
.newer-posts
	background-color #606669
	border-radius 2px
	padding 8px 25px
	position absolute 
	top 0
	
	&:hover
		background-color #27ae60
	
.newer-posts
	left 0

.older-posts
	right 0