#logo
	text-align center
	text-transform uppercase
	letter-spacing .5em
	border 5px double rgba(255, 255, 255, 0.7)
	border-width 4px 0
	padding 1.5em 0em
	width 40em
	margin auto
	color #fff
	
	a
		font-size 4em
		font-weight 700
		letter-spacing 0
		text-decoration: none
		padding .25em 0 .325em
		display block
		background url("/assets/img/bgLogo.png") repeat-y
		background-clip text
		color transparent
		text-shadow 0 0 80px rgba(240, 89, 0, .5)
		animation logo 160s linear infinite;
		transform translate3d(0, 0, 0);
		
	@media all and (max-width: 768px)
		font-size .7em 
		width auto
		padding 0
		border none
		span
			display none
